button {
    background-color: cornflowerblue;
    color: white;
}

.profile-container {
    padding: 50px 0;
}

.profile-pic {
    height: 150px;
    padding-bottom: 30px;
}

.profile-body-container {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.profile-attribute-table {
    padding-bottom: 30px;
}

.individual-attribute {
    padding: 0 20px;
    text-align: left;
}

.table-break {
    margin: 20px 0;
}

.bold {
    font-weight: bold;
}

.input-container {
    display: flex;
    justify-content: center;
}

.invite-button {
    margin: 10px 0;
    border-radius: 5px;
}

.centered {
    justify-content: center;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
}

.user-delete-button {
    color: red;
}

.user-delete-button:hover {
    cursor: pointer;
}