.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
  width: 67%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.convo-selection:hover {
  cursor: pointer;
}

.logo {
  width: 90%;
}

.rounded-button {
  border-radius: 5px;
}

.spaced {
  margin: 0 5px;
}
