.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.convo-selection:hover {
  cursor: pointer;
}

.logo {
  width: 90%;
}

@media screen (min-width: 768px)
.container {
    max-width: 10%;
}

@media screen (min-width: 576px)
.container {
    max-width: 100px;
} 
