.homepage {
    margin-top: 50px;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-text {
    font-size: 30px;
}