.resume {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.resume-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.resume-links-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.resume-title {
    margin: 15px 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-alight: left;
    width: 100%;
    border-bottom: 3px solid black;
}

.resume-skills-title {
    font-weight: bold;
}

.resume-linkedin-icon {
    background-color: rgba(0, 119, 181, 1);
    color: white;
    padding: 4px;
    border-radius: 2px;
}

.resume-github-icon {
    color: black;
    padding: 4px;
}

.resume-roles,
.resume-item-responsibilities {
    margin-top: 10px;
}

.resume-item-title {
    align-items: center;
}

.resume-item-title-text {
    font-weight: bold;
}

.resume-item-title-date {
    font-style: italic;
    text-align: right;
}

.resume-body-link {
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background:
      linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)),
      linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.resume-body-link:hover,
.resume-body-link:focus {
    cursor: pointer;
    color: black;
    background-size: 0 0.1em, 100% 0.1em;
}

.resume-body-div-link {
    display: inline;
}

.modal-body,
.modal-content
{
    border: none !important;
    background-color: rgba(0,0,0,0) !important;
    justify-content: center !important;
    align-items: center !important;
}

@media only screen and (min-width: 768px) {
    .resume {
        font-size: 16px;
    }
}
